<launch>
    <!-- Launch navsat-->
    <include file="$(find sumit_gps_nav)/launch/navsat_launch/nav_start.launch"/>

    <!-- Run the ekf for map to odom config -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_with_gps"> 
    <rosparam command="load" file="$(find sumit_gps_nav)/params/ekf/gps_imu_odom.yaml" />
    </node>

    <!-- Run the map server -->
    <include file="$(find sumit_gps_nav)/launch/map_launch/map_start.launch" />

    <!--- Run Move Base -->
    <include file="$(find sumit_gps_nav)/launch/move_base_launch/move_base_start.launch" />

    <!-- Run Rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find sumit_gps_nav)/rviz/navigation_rviz.rviz" />

</launch>